@import "tailwindcss";

@font-face {
  font-family: "Libre Baskerville";
  src: url("/public/FONTS/LibreBaskerville-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Questrial";
  src: url("/public/FONTS/Questrial-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

:root{
  --font-prime:"Libre Baskerville", serif;
  --font-sec: "Questrial", sans-serif;
}

  body {
    font-family: var(--font-sec)
  }
